<form class="{{cssClass}}" autocomplete="off">

  {{!-- Hidden inputs to reflect the sheet class and force standard crit range --}}
  <input type="hidden" id="data.details.sheetClass" name="data.details.sheetClass" value="Alchemist" data-dtype="String" />
  <input type="hidden" id="data.details.critRange" name="data.details.critRange" value="20" data-dtype="Number" />

  {{!-- Sheet Header --}}
  {{> systems/dcc/templates/actor-partial-pc-header.html }}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="character">{{localize "DCC.Character"}}</a>
    <a class="item" data-tab="equipment">{{localize "DCC.Equipment"}}</a>
    <a class="item" data-tab="class">{{localize "Alchemist.Alchemist"}}</a>
    {{#if system.config.showSkills}}
    <a class="item" data-tab="skills">{{localize "DCC.Skills"}}</a>
    {{/if}}
    <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Character Tab --}}
    {{> systems/dcc/templates/actor-partial-pc-common.html }}

    {{!-- Equipment Tab --}}
    {{> systems/dcc/templates/actor-partial-pc-equipment.html }}

    {{!-- Skills Tab --}}
    {{> systems/dcc/templates/actor-partial-skills.html }}

    {{!-- Notes Tab --}}
    {{> systems/dcc/templates/actor-partial-pc-notes.html }}

    {{!-- Class Tab --}}
    <div class="tab" data-group="primary" data-tab="class">
      <h4 class="class-label" id="hubris">{{localize "Alchemist.AlchemistAbilities"}}</h4>
      <div class="class">
        <div class="skills-container">
          <div class="ability-check" data-skill="alchemicalTinkeringDie">
            <label class="skill-check rollable" for="system.skills.alchemicalTinkering.die" id="hubris">{{localize "Alchemist.AlchemicalTinkering"}}</label>
            <input type="text" id="system.skills.alchemicalTinkeringDie.die" name="system.skills.alchemicalTinkeringDie.die" value="{{system.skills.alchemicalTinkeringDie.die}}" data-dtype="String" />
          </div>
          <div class="ability-check" data-ability="int">
            <label class="spell-check rollable" for="system.class.spellCheck" id="hubris">{{localize "Alchemist.BrewPotion"}}</label>
            <input type="text" id="system.class.spellCheck" name="system.class.spellCheck" value="{{numberFormat system.class.spellCheck decimals=0 sign=true}}" data-dtype="String" />
          </div>
          <ul class="class-note flexcol" id="Hubris">
            <li>{{localize "Alchemist.Bombs"}}</li>
            <li>{{localize "Alchemist.Luck"}}</li>
            <li>{{localize "Alchemist.Mutagen"}}</li>
            <li>{{localize "Alchemist.BrewPotion"}}</li>
            <li>{{localize "Alchemist.AlchemicalTinkering"}}</li>
            <li>{{localize "Alchemist.Spellburn"}}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</form>