<form class="{{cssClass}}" autocomplete="off">
 
  {{!-- Hidden inputs to reflect the sheet class and force standard crit range --}}
  <input type="hidden" id="system.details.sheetClass" name="system.details.sheetClass" value="Blood Witch" data-dtype="String"/>
  <input type="hidden" id="system.details.critRange" name="system.details.critRange" value="20" data-dtype="Number"/>

  {{!-- Sheet Header --}}
  {{> systems/dcc/templates/actor-partial-pc-header.html }}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="character">{{localize "DCC.Character"}}</a>
    <a class="item" data-tab="equipment">{{localize "DCC.Equipment"}}</a>
    <a class="item" data-tab="class">{{localize "BloodWitch.BloodWitch"}}</a>
    <a class="item" data-tab="spells">{{localize "DCC.Spells"}}</a>
    <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Character Tab --}}
    {{> systems/dcc/templates/actor-partial-pc-common.html }}

    {{!-- Equipment Tab --}}
    {{> systems/dcc/templates/actor-partial-pc-equipment.html }}

    {{!-- Spells Tab --}}
    {{> systems/dcc/templates/actor-partial-wizard-spells.html }}

    {{!-- Skills Tab --}}
    {{> systems/dcc/templates/actor-partial-skills.html }}

    {{!-- Notes Tab --}}
    {{> systems/dcc/templates/actor-partial-pc-notes.html }}

    {{!-- Class Tab --}}
    <div class="tab" data-group="primary" data-tab="class">
	    {{!-- Update spell check ability to use Stamina --}}
      <input type="hidden" id="system.class.spellCheckAbility" name="system.class.spellCheckAbility" value="sta">
      <h4 class="class-label">{{localize "BloodWitch.BloodWitchAbilities"}}</h4>
      <div class="class">
        <div class="skills-container">
		      <div class="split-50-50" data-ability="sta">
            <label class="spell-check rollable" for="system.class.spellCheck">{{localize "DCC.SpellCheck"}}</label>
            <input type="text" id="system.class.spellCheck" name="system.class.spellCheck" value="{{numberFormat system.class.spellCheck decimals=0 sign=true}}" data-dtype="String"/>
          </div>
          <div class="wide split-25-75">
            <label for="system.bloodWitchCorruption">{{localize "BloodWitch.BloodWitchCorruption"}}:</label>
            <textarea name="system.bloodWitchCorruption">{{system.bloodWitchCorruption}}</textarea>
        </div>
          <ul class="class-note flexcol">
            <li>{{localize "BloodWitch.BloodPotion"}}</li> 
            <li>{{localize "BloodWitch.BloodWalk"}}</li>
            <li>{{localize "BloodWitch.Coagulate"}}</li>
            <li>{{localize "BloodWitch.Familiars"}}</li>
            <li>{{localize "BloodWitch.InflictWounds"}}</li>
            <div class="inflict-wounds">
              <div class="inflict-wounds container">
                <div class="header top left item">
                  {{localize "BloodWitch.BloodCheck"}}
                </div>
                <div class="header top item">
                  {{localize "BloodWitch.Result"}}
                </div>

                <div class="header left item">
                  1
                </div>
                <div class="item">
                  {{localize "BloodWitch.CriticalFailure"}}
                </div>

                <div class="header left item alt">
                  2-11
                </div>
                <div class="item alt">
                  {{localize "BloodWitch.Failure"}}
                </div>

                <div class="header left item">
                  12-13
                </div>
                <div class="item">
                  2 {{localize "BloodWitch.Dice"}}
                </div>

                <div class="header left item alt">
                  14-19
                </div>
                <div class="item alt">
                  3 {{localize "BloodWitch.Dice"}}
                </div>

                <div class="header left item">
                  20-21
                </div>
                <div class="item">
                  4 {{localize "BloodWitch.Dice"}}
                </div>

                <div class="header left item alt">
                  22+
                </div>
                <div class="item alt">
                  5 {{localize "BloodWitch.Dice"}}
                </div>
              </div>
            </div>  
            <li>{{localize "BloodWitch.Spells"}}</li>
            <li>{{localize "BloodWitch.Languages"}}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</form>

