<form class="{{cssClass}}" autocomplete="off">
 
    {{!-- Hidden inputs to reflect the sheet class and force standard crit range --}}
    <input type="hidden" id="system.details.sheetClass" name="system.details.sheetClass" value="Murder Machine" data-dtype="String"/>
    <input type="hidden" id="system.details.critRange" name="system.details.critRange" value="20" data-dtype="Number"/>

    {{!-- Sheet Header --}}
    {{> systems/dcc/templates/actor-partial-pc-header.html }}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="character">{{localize "DCC.Character"}}</a>
        <a class="item" data-tab="equipment">{{localize "DCC.Equipment"}}</a>
        <a class="item" data-tab="class">{{localize "MurderMachine.MurderMachine"}}</a>
        <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Character Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-common.html }}

        {{!-- Equipment Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-equipment.html }}

        {{!-- Notes Tab --}}
        {{> systems/dcc/templates/actor-partial-pc-notes.html }}

        {{!-- Class Tab --}}
        <div class="tab" data-group="primary" data-tab="class">
          <h4 class="class-label">{{localize "MurderMachine.MurderMachineAbilities"}}</h4>
          <div class="class">
            <ul class="class-note flexcol">
              <li>{{localize "MurderMachine.AttackModifier"}}</li>
              <li>{{localize "DCC.MightyDeedsOfArms"}}</li>
              {{#dccPackExists "dcc-core-book.dcc-core-journals"}}
                <ul>
                  <li>{{{dccLocalizeAndEnrich "DCC.MightyDeedsLink"}}}</li>
                </ul>
              {{/dccPackExists}}
              <li>{{localize "MurderMachine.Construct"}}</li>
              <li>{{localize "MurderMachine.NaturalArmor"}}</li>
              <li>{{localize "MurderMachine.PTITF"}}</li>
              <li>{{localize "MurderMachine.SAH"}}</li>
              <li>{{localize "MurderMachine.Tinkering"}}</li><textarea name="system.tinkering">{{system.tinkering}}</textarea>
              <li>{{localize "MurderMachine.Outsider"}}</li>
              <li>{{localize "MurderMachine.Hunted"}}</li>
              <li>{{localize "MurderMachine.NutsAndBolts"}}</li>
              <li>{{localize "MurderMachine.Languages"}}</li>  
            </ul>
          </div>
        </div>  
    </section>
</form>

