<form class="{{cssClass}}" autocomplete="off">
  {{!-- Hidden inputs to reflect the sheet class and force standard crit range --}}
  <input type="hidden" id="system.details.sheetClass" name="system.details.sheetClass" value="Avarian" data-dtype="String" />
  <input type="hidden" id="system.details.critRange" name="system.details.critRange" value="20" data-dtype="String" />

  {{!-- Sheet Header --}} {{> systems/dcc/templates/actor-partial-pc-header.html }} {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="character">{{localize "DCC.Character"}}</a>
    <a class="item" data-tab="equipment">{{localize "DCC.Equipment"}}</a>
    <a class="item" data-tab="class">{{localize "Avarian.Avarian"}}</a>
    {{#if trickster}}
    <a class="item" data-tab="spells">{{localize "Avarian.TricksterSpells"}}</a>
    {{/if}} {{#if scoundrel}}
    <a class="item" data-tab="skills">{{localize "Avarian.ScoundrelSkills"}}</a>
    {{/if}}
    <a class="item" data-tab="notes">{{localize "DCC.Notes"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Character Tab --}} {{>systems/dcc/templates/actor-partial-pc-common.html }} {{!-- Equipment Tab--}} {{>
    systems/dcc/templates/actor-partial-pc-equipment.html }} {{!--Spells Tab --}} {{> systems/dcc/templates/actor-partial-wizard-spells.html}} {{!-- Skills Tab
    --}} {{> systems/dcc/templates/actor-partial-skills.html}} {{!-- Notes Tab --}} {{>systems/dcc/templates/actor-partial-pc-notes.html }} {{!-- Class Tab --}}
    <div class="tab" data-group="primary" data-tab="class">
      <h4 class="class-label">{{localize "Avarian.AvarianAbilities"}}</h4>
      <div class="class">
        <div class="skills-container">
        <ul class="class-note flexcol">
          <li>{{localize "Avarian.Paths"}}</li>
          <ul>
            <select name="system.avarianPaths" value="{{system.avarianPaths}}">
              <li>{{selectOptions avarianPaths selected=system.avarianPaths localize=true}}</li>
            </select>
          </ul>
          <li>{{localize "Avarian.LowLightVision"}}</li>
          <li>{{localize "Avarian.Flight"}}</li>
          <li>{{localize "Avarian.Languages"}}</li>
          <li>{{localize "Avarian.Magpie"}}</li>
          <li>{{localize "Avarian.MockingBird"}}</li>
          <li>{{localize "Avarian.Transformation"}}</li>
        </ul>
      </div>
    </div>
  </section>
</form>
